---
---

/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

.jumbotron {
    background-image: url("../img/green-geo-background.png");
    background-size: cover;
    height: 100vh;
}

.social-align {
    display: flex; 
    align-items: center;
}

.social-icons {
    color: white;
    font-size: 1.8rem;
    padding-right: .4rem;
}

.social-icons-dk {
    font-size: 2.2rem;
    padding-right: 1.1rem;
}

@include media-breakpoint-up(md) {
    .custom-col {
        column-count: 2;
    }
  }

.topic {
    background-image: url(/img/green-geo-background.png);
}
