<header>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/professional.html">professional</a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/personal.html">personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>